:root{
    --branco: #FFF;
    --rosa: #F5989D; 
    --laranja: #F69679;
    --rosa-claro: #FFC4B2;
    --laranja-claro: #FFC4B2AB;
    --cinza: #808080;
    --branco-transparente: #FFFFFFAB;
    --rosa-claro-transparente: #FFC4B2AA;

}